

/* adding "raleway" as the new font in ttf format*/



/* box-sizing for every browser and applying the font to everything */
* 
{
   font-family: 'Raleway', sans-serif;	/* applying the font */

   box-sizing: content-box; /* Opera/IE 8+ */
   -moz-box-sizing: content-box; /* Firefox, others  */
   -webkit-box-sizing: content-box; /* Safari/Chrome, others */  
}
/* sections in body are organized in columns */
body
{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

h2
{
    font-size: 120%;
}


/* -------------------------------------------------
 -----------------top banner part 
 the top banner is split into right and left header in html
 inPageNav is referring to the navigation tabs up top  */
#banner
{
	display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

#leftHeader
{
    display: flex;
    flex-direction: column;
    width: 75%;
}
#leftHeader img
{
    margin-top: 3%;
    margin-left: 3%;
}
#leftHeader h1
{
    margin-bottom: 0;
}
/*---------------------*/
#rightHeader
{
    justify-content: flex-end;
	display: flex;
    width: 25%;
}
.inPageNav
{  
    color: black;
    text-decoration: none;
    display: flex;
    padding: 12% 6% 6% 6%;
    border-top: solid 3px white;
}
/* changing the aspect while selected*/
.inPageNav:focus
{
    color: #0065FC;
    border-top: solid 3px #0065FC;
}


/* -------------------------------------------------
 -----------------Form section---------------------*/
/* the filters are non-fonctionnals yet! only aesthetic implemented yet */

/*---------------------*/
 /*first part location icon + user input + research button */
 #research
 {

    margin-left: 2%;
    margin-right: 2%;
 }
 #searchBar
 { 
    display: flex;
    height: 40px;
    width: 25%;
    padding: 0;
    border: solid #F2F2F2;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
 }

 /* location icon configuration*/
 #searchBar i
 {
    display: flex;
    height: 100%;
    width: 15%;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
 }


 #searchTextBox
 {
    width: 50%;
    height: 100%;
    border: none;
    font-size: 120%;
    font-weight: bold;
    padding-left: 3%;
 }

 #searchButton
 {
    width: 35%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border-color: #0065FC; 
    background-color: #0065FC; 
    font-size: 120%;
    font-weight: bold;
    color: white;
    shadow: none;
 }


 /*---------------------*/
 /* second part the filters  */
 #filters
 {
      display: flex;
      flex-wrap: wrap;
      width: 65%;
      align-items: center;
      justify-content: space-between;
      font-size: 120%;
      font-weight: bold;
      margin-bottom: 2%;
      margin-right: 2%;
 }

 /* Icons visuals*/
.filterChoice i
 {
      display: flex;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #DEEBFF;
      color: #0065FC;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

 }

 /*choice box including icon + text*/
 .filterChoice
 {
      display: flex;
      border-radius: 27px;
      border: solid 2px #F2F2F2;
      padding-right: 10px;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
 }
 /* research button */
 .filterButton
 {
      border: none;
      background-color: rgba(0,0,0,0);
      font-size: 100%;
      font-weight: bold;
 }

 /* info line with icon down the section */
 .infoNote
 {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
 }
 .infoNote i
 {
    color: #0065FC;
    display: flex;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: solid #F2F2F2 2px;
    align-items: center;
    justify-content: center;
    margin-right: 1%
 }

 /* -------------------------------------------------
 -------------Accomodation section-----------------*/
 /*one section split in 2, "afficher plus" and thumbnails links non functionals */
 

 /*-- part 1 regular accomodation---*/
#accomodation
{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 50px;
      margin-left: 0.5%;
      margin-right: 0.5%;
}
/* accomodation thumbnail container*/
#accoThumbCont
{
      display: flex;
      width: 60%;
      border-radius: 15px;
      background-color: #F2F2F2;
      padding: 2%;
      margin-right: 2%;

      flex-wrap: wrap;
}
#accoThumbCont h1
{
     width: 100%;
}
#accoThumbCont a
{
     width: 100%;
     text-decoration: none;
     color: black;
}
/* accomodation thumbnail */
.thumbnailAcco
{
      display: flex;
      width: 29%;
      flex-direction: column;
      margin: 1%;      
      padding: 0.5%;
      background-color: white;
      justify-content: space-between;

      height: 200px;
      max-height: 200px;
      border: solid white 2px;
      border-radius: 15px;
      box-shadow: 1px 1px 10px -7px #000000;

}

.thumbnailAccoImg img
{
      padding: 0;
      margin: 0;
      height: 220px;
}

.thumbnailAccoImg
{
      display: flex;
      border-radius: 15px 15px 0 0;
      width: 100%;
      height: 65%;
      overflow: hidden;
      justify-content: center;
      align-items: center;
}

.thumbnailAcco h2
{
    margin-top: 3%;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.pricePerNight
{
    margin: 0.5%;
    padding: 0.5%;

}
/* star system rating */
.rating
{
      display: flex;
      margin: 0.5%;
      padding: 0.5%;
      color: #0065FC;

}

  /*-- part 2 popular accomodation---*/
aside
{
      display: flex;
      flex-direction: column;
      width: 25%;
      border-radius: 15px;
      background-color: #F2F2F2;
      padding: 2%;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

 #popularHead
{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
}


 .thumbnailPopular
{
      display: flex;
      height: 160px;
      max-height: 160px;
      width: 100%;

      margin-bottom: 5%;
      padding: 0.5%;
      background-color: white;
      align-items: space-between;
      overflow: hidden;
      border: solid white 2px;
      border-radius: 15px;
      box-shadow: 1px 1px 10px -7px #000000;
}

.thumbnailPopularImg
{
      display: flex;
      width: 40%;
      height: 100%;
      margin-right: 5%;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      border-radius: 15px 0 0 15px;
}

.thumbnailPopularImg img
{
      padding: 0;
      margin: 0;
      height: 220px;
}
  .thumbnailPopularTxt
{
        display: flex;
        width: 60%;
        flex-direction: column;
}

/* -------------------------------------------------
-------------Activities section-----------------*/

#activities
{
    display: flex;
    height: 550px;
    flex-direction: column;
    margin-left: 2%;
}
#actiTitle
{
    display: flex;
}

/* thumbnail container*/
.thumbnailActiCont
{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;
    flex-wrap: wrap;
    border
}
/*activities thumbnail*/
.thumbnailActi
{
    display: flex;
    width: 23%;
    height: 445px;
    flex-direction: column;
    border-radius: 15px;
    border: none;
    justify-content: space-between;
    box-shadow: 1px 1px 10px -7px #000000;
}
.thumbnailActi h2
{
    display: flex;
    height: 10%;
    max-height: 45px;
    margin: 0;
    padding: 0;
}

.thumbnailActiImg
{
    border-radius: 15px 15px 0 0;
    display: flex;
    width: 100%;
    height: 90%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.thumbnailActiImg img
{
    display: flex;
    padding: 0;
    margin: 0;
    height: 450px; 
    width: 100%;

}

/* thumbnail n°2,3,5 and 6 height modification */
/* to be displayed stacked*/
.thumbnailActiCont :nth-child(2)
{
    height: 215px;
}
.thumbnailActiCont :nth-child(3)
{
    height: 215px;
}
.thumbnailActiCont :nth-child(5)
{
    height: 215px;
}
.thumbnailActiCont :nth-child(6)
{
    height: 215px;
}

/* -------------------------------------------------
-------------Navigation footer-----------------*/

footer
{
    display: flex;
    padding-left: 2%;
    background-color: #F2F2F2;
}

nav
{
    margin-right: 21%;
}

nav ul
{
    list-style-type: none;
    margin-left:0;
    padding-left:0;
    line-height: 225%;
}

nav ul li a
{
    text-decoration: none;
    color: black;
}