
/* box-sizing for every browser and applying the font to everything */
* 
{
font-family: 'Raleway', sans-serif;	/* applying the font */

box-sizing: content-box; /* Opera/IE 8+ */
-moz-box-sizing: content-box; /* Firefox, others  */
-webkit-box-sizing: content-box; /* Safari/Chrome, others */  
}
/* sections in body are organized in columns */

body
{
	padding: 0;
	margin:0;
}

h1
{
	font-size: x-large;
}

/* -------------------------------------------------
-----------------top banner part 
the top banner is split into right and left header in html
inPageNav is referring to the navigation tabs up top right */
#banner
{
	height: 100%;
	max-height: 300px;
	padding: 0 0 0 0;
	margin: 2% 0 1% 0;

}

#topHeader
{
	flex-direction: column;
	justify-content: center;
	margin-bottom: 3%;
}

#logo
{
	justify-content: center;
	height: 75px;
	padding-left: 0;
	margin: 0 0 3% 0;
}

#logo img
{	
	justify-content: center;
}

#inPageNavCont
{
	justify-content: center;
	width: 100%;
}

.inPageNav
{ 
	height: 50px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0 0 0 0;
	border-bottom: solid 3px #F2F2F2;
}

/* changing the aspect while selected*/
.inPageNav:focus
{
	border-bottom: solid 3px #0065FC;
	border-top: none;
}

/*---------------------*/
#bottomHeader
{
	justify-content: space-around;
	padding: 0;
	margin: 3% 0 0 0;
}

#bottomHeader h1
{
	width: 90%;
	margin: 0 0 0 3%;
}

.note
{
	margin-left: 3%;
}

.infoNote
{
	width: 90%;
	margin: 0 0 0 3%;
}

/* -------------------------------------------------
-----------------Form section---------------------*/
/* the filters are non-fonctionnals yet! only aesthetic implemented yet */

/*---------------------*/
#research
{
	justify-content: center;
	align-items: center;
	margin: 3% 0 0 0;
	padding: 0;
}

#userForm
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*first part location icon + user input + research button */
#searchBar
{ 
	width: 90%;
	min-width: auto;
	margin: 2% 0 2% 0;
}

#searchButtonText
{
	display: none;
}

#searchButtonIcon
{
	display: flex;
	height: 100%;
	width: 15%;
	border-radius: 0 10px 10px 0;
	background-color: #0065FC;
	color: white;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}

/*---------------------*/
/* second part: filters  */
#filters
{
	width: 100%;
	align-items: flex-start;
	margin-right: 0;
}

#filters p
{
	margin-top: 30px;
	padding-left: 4%;
	width: 100%;
	text-align: left;
}

/*choice box including icon + text*/
.filterChoice
{
	margin-top: 2%;
	margin-left: 3%;
}

/* -------------------------------------------------
-------------Accomodation section-----------------*/
/*one section split in 2, "afficher plus" and thumbnails links non functionals */
 
/*-- part 1 regular accomodation---*/
#accomodation
{
	width: 100%;
	height: auto;
	flex-direction: column-reverse;
	margin: 3% 0 0 0;
}

/* accomodation thumbnail container*/
#accoThumbCont
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: white;
	align-items: center;
	justify-content: center;
}

#accoThumbCont h1
{
	width: 390px;
	margin-left: 5%;
}

.showMoreLink
{
	display: flex;
	justify-content: center;
}

.showMoreLink a
{
	width: 350px;
	text-align: left;
}

/* accomodation thumbnail */
.thumbnailAcco
{
	height: 220px;
	width: 90%;
	max-width: 350px;
}

/*-- part 2 popular accomodation---*/
aside
{
	width: 100%;
	height: auto;
	border-radius: 0%;
	margin: 0 0 20px 0;
	padding: 0 0 5% 0;
}

#popularHead
{
	width: 100%;
	margin: 2% 0 2% 0;
	padding: 0;
	justify-content: space-between;
}


/* thumbnail popular accomodations */
.thumbnailPopularCont
{
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.thumbnailPopular
{
	height: 160px;
	max-height: 220px;
	width: 90%;
	max-width: 350px;
	margin: 2% 0 1% 0;
}

/* -------------------------------------------------
-------------Activities section-----------------*/

#activities
{
	margin: 3% 0 4% 0;
	padding: 0;
	align-items: center;
}

#actiTitle
{
	width: 90%;
	max-width: 350px;
}

/*thumbnail container*/
.thumbnailActiCont
{
	flex-direction: row;
	height: auto;
	margin: 0;
	padding: 0;
	border-radius: 0;
	align-items: center;
	justify-content: center;
}

/*activities thumbnail*/
.thumbnailActi
{
	max-height: 220px;
	width: 90%;
	max-width: 350px;
	margin: 1%;      
	padding: 0.5%;
	background-color: white;
	justify-content: space-between;
	border: solid white 2px;
}

/* thumbnail n°2,3,5 and 6 height modification */
/* to be the same size*/
.thumbnailActiCont .thumbnailActi
{
	height: 275px;
}

/* -------------------------------------------------
-------------Navigation footer-----------------*/

footer
{
	flex-direction: column;
	padding: 4% 0 0 0;
	justify-content: space-around;
}

nav
{
	margin-right: 0;
	margin-left: 5%;
}
